.btn{
    border: none;
    border-radius: 1.25rem;
}
.btn-hamburger{
    background-color: var(--first-color);
    color: #fff;
    font-size: 1.875rem;
}
.btn-get-started{
    background-color: #fff;
    padding:0.625rem;
}
.btn-appstore{
    background-color: var(--first-color);
    color: #fff;
    padding:0.625rem 3.125rem; 
    margin:1.25rem 0;
}