/* FLEX */
.flex{
    display: flex;
}
.justify-space-between{
    justify-content: space-between; 
}
.align-items-end{
    align-items: flex-end;
}
/* TYPO */
body{
    font-family: 'PT Sans', sans-serif;
    color: #5a6e7f;
}
.text-align-center{
    text-align:center;
}
/* COMMON */
.container{
    max-width: 68.75rem;
    margin:auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
.row{
    display: flex; 
    flex-wrap:wrap;
    margin-left:-0.625rem;
    margin-right: -0.625rem;
}
.col{
    padding-left: 0.625rem;
    padding-right: 0.625rem;
}
section{
    padding: 1.875rem 0;
}
.w-100{
    width: 100%;
}
/* LIST INLINE */
.list-inline{
    display:flex;
    list-style: none;
}
/* ICONS */
i{
    color: #fff;
    margin-right:  0.625rem ;
}
.icon-container{
    justify-content: center;
}
