header{
    background-color: var(--first-color);
    padding:1.25rem 0;
    color: #fff;
}
.main-nav{
    display: none;

}
.li-header{
    color: #fff;
    margin-right:1.875rem; 
}
a{
    color: #fff;
    text-decoration: none;
}
   

@media screen and (min-width:992px){
    .btn-hamburger{
        display:none;
    }
    .main-nav{
        display: flex;
        align-items: center;
    }
}