.card{
    background-color: var(--first-color-light);
    text-align: center;
    padding: 1.25rem;
    border-radius: 1.25rem;
}

/* highlights */
.highlights .col{
    margin: 0.625rem 0;
}
.highlights h3{
    color: var(--first-color);
    font-size:1.875rem;
    margin: 0.625rem 0 ;
    text-align: center;
}
.icon-card{
    font-size: 300%;
    color: var(--first-color);
}
@media screen and (min-width:768px){
    .highlights .col{
        width: calc(100%/3);
    }
    .highlights .col:first-child{
        width: calc((100%/3)*2);
    }
}
/* strategic-planning */
.strategic-planning{
    background-color: var(--secondary-color);
}
.strategic-planning .col{
    margin: 0.625rem 0;
}
.strategic-planning h3{
    color: #fff;
    font-size: 30px;
    padding: 1.25rem 0;
}
.strategic-planning p{
    color: #fff;
    padding: 1.25rem 0;
}
.strategic-planning .col-2{
    background-color: #fff;
    border-radius: 1.875rem;
    margin: 0 0.625rem;
    text-align: center;
}
.col-2 h3, .col-2 p{
    color:black;
    padding: 1.25rem;

}
@media screen and (min-width:768px){
    .strategic-planning .col{
        width: 50%;
    }
    .col-2 img{
        width: 60%;
    }
}
/* testimonials */
.testimonials .col{
    background-color: var(--secondary-color);
    width:100%;
    margin: 0.625rem 0 ;
}

@media screen and (min-width:768px){
    .testimonials .img{
        width: 20%;
    }
    .testimonials .testo{
        width: 80%;
    }
}
/* benefits */
.benefits{
    background-color: var(--secondary-color);
}
.benefits .col{
    width: 100%;
    margin: 0.625rem 0 ;
}
.benefits .card-debug{
    background-color: #fff;
}
@media screen and (min-width:768px){
    .benefits .col{
        width: calc(100%/3);
    }
}
/* about us */
.about-us .col{
    width:100%
}
@media screen and (min-width:768px){
    .about-us .col-1{
       width: 70%;
    }
    .about-us .col-2{
        width: 30%;
     }
}
/* get started */
.get-started{
    background-color: var(--secondary-color);
}

