.card-debug{
    background-color: var(--first-color-light);
    height: 100px;
}
/* highlights */
.highlights .col{
    width: 100%; 
    margin: 0.625rem 0;
}
@media screen and (min-width:768px){
    .highlights .col{
        width: calc(100%/3);
    }
    .highlights .col:first-child{
        width: calc((100%/3)*2);
    }
}
/* strategic-planning */
.strategic-planning{
    background-color: var(--secondary-color);
}
.strategic-planning .col{
    width: 100%; 
    margin: 0.625rem 0;
}
@media screen and (min-width:768px){
    .strategic-planning .col{
        width: 50%;
    }
}
/* testimonials */
.testimonials .col{
    background-color: var(--secondary-color);
    width:100%;
    margin: 0.625rem 0 ;
    
}
@media screen and (min-width:768px){
    .testimonials .img{
        width: 20%;
    }
    .testimonials .testo{
        width: 80%;
    }
}
/* benefits */
.benefits{
    background-color: var(--secondary-color);
}
.benefits .col{
    width: 100%;
    margin: 0.625rem 0 ;
}
.benefits .card-debug{
    background-color: #fff;
}
@media screen and (min-width:768px){
    .benefits .col{
        width: calc(100%/3);
    }
}
/* about us */
